<!DOCTYPE html>
<html>
<head>
	<title>tem</title>
	<link rel="stylesheet" type="text/css" href="css/tem.css">
</head>
<body>
	<div class="header">
		<button class="logo">start boot strap</button>
		<button class="icons">home</button>
		<button class="icons">services</button>
		<button class="icons">contact us</button>
		<button class="icons">about</button>
	</div>
		<div class="one">
			<h1>A WARM WELCOME!</h1>
			<p>This text is styled with some of the text formatting properties. The heading uses the text-align, text-transform, and color properties. The paragraph is indented, aligned, and the space between characters is specified. The underline is removed from this colored "Try it Yourself" link.</p>
			<button style="background-color: blue; color: white; position: relative; left: 450px;" >call to action!</button>
		</div>
		<div class="two">
			<ul>
				<li>
					<img src="C:\Users\333596\Desktop\Template\img\Io.PNG" height="150px" width="268px">
					<h1 style="text-align: center;">dog name </h1>
					<p>the space between characters is specified. The underline is removed from this colored "Try it Yourself" link.</p>
					<button style="background-color: blue; color: white; position: relative; left:20px;">findout more</button>
				</li>
				<li>
					<img src="C:\Users\333596\Desktop\Template\img\Io.PNG" height="150px" width="268px">
					<h1 style="text-align: center;">dog name </h1>
					<p>the space between characters is specified. The underline is removed from this colored "Try it Yourself" link.</p>
					<button style="background-color: blue; color: white; position: relative; left:20px;">findout more</button>
				</li>
				<li>
					<img src="C:\Users\333596\Desktop\Template\img\Io.PNG" height="150px" width="268px">
					<h1 style="text-align: center;">dog name </h1>
					<p style="text-align: justify;">the space between characters is specified. The underline is removed from this colored "Try it Yourself" link.</p>
					<button style="background-color: blue;color: white; position: relative; left:20px;">findout more</button>
				</li>
				<li>
					<img src="C:\Users\333596\Desktop\Template\img\Io.PNG" height="150px" width="268px">
					<h1 style="text-align: center;">dog name </h1>
					<p style="text-align: justify;">the space between characters is specified. The underline is removed from this colored "Try it Yourself" link.</p>
					<button style="background-color: blue; color: white;position: relative; left:20px; ">findout more</button>
				</li>

			</ul>
		</div>
		<br>
		<div class="footer">copyright &copy your website</div>

</body>
</html>